@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  @apply w-1.5;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-content;
}
